<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
      <link rel="stylesheet" href="/stylesheets/style (2).css"> 
        <title> Eco Spark - devices </title>
        
        <style type="text/css">
            #chart-container {
              width: 640px;
              height: auto;
            }</style>
    </head>

    <body>

        <%- include ('partials/header') -%>

        <div style="height: 100">
            <div class="flex-column" align="center">
              <h2> Currently Running Devices </h2>
              </br>
              <div id="chart-container">
                <canvas id="mycanvas"></canvas>
              </div>
              <!-- <canvas id="barChart" style="max-width: 800px;"></canvas> -->
            </div>
        </div>
          
        <div class="dark green lighten-2">
            <h2 class="titles"> Rooms: 
            <% if (runningDeviceInfo == ""){ %>
                <div style="color:white;" >Currently no devices running</br></div>
            <% } %>
            </h2>
            <% roomInfo.forEach(function(room) { %>
                <% if (roomInfo == ""){ %>
                    Currently no rooms in application  </br> 
                <% } %>
                <% runningDeviceInfo.forEach(function(device) { %>
                    <div class="row">
                        <div class="col-sm">
                            <% if (room.roomID == device.rRoomID) { %>
                                <h2 class="titles"><%=room.roomDisplayName%></h2> </br>
                                <div class="container" style="color:white" >
                                    <h2><%=device.rDeviceDisplayName%> : <%=device.rDevicePower%>
                                    <button class="btn btn-default btn-rounded mb-4" type="submit">Turn Off</button>
                                    </h2>
                                    </br>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            <% }) %>
            </br>
        </div>

          </br></br></br>

          <div class="container" >
            <!-- no of columns depends on no of rooms similar to rooms page-->
            <div class="row">
              <div class="col-sm" align="center">
                <h1>Faults</h1>
                <% if (faultInfo == ""){ %>
                    Currently no devices with faults  </br>
                <% } %>
                
                <% faultInfo.forEach(function(fault) {%>
                    <%= fault.fDeviceDisplayName%>  </br>
                    <%= fault.roomDisplayName%>  </br>
                    <%= fault.faultInfo%>  </br>
                <% }) %>
              </div>
            </div>
          </div>

          <p></p>


          <br></br>
        <h4 class="card-title text-center font-weight-bold">Choose a Device</h4>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <% deviceInfo.forEach(function(device) {%>
                    <% if (device.deviceType == "Appliance") {%>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-utensils fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID %>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                    <% if (device.deviceType == "Light") { %>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-bed fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID %>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                    <% if (device.deviceType == "Heating") { %>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-couch fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID%>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                    <% if (device.deviceType == "Socket") { %>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-bath fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID%>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                    <% if (device.deviceType == "TV") { %>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-door-open fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID%>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                    <% if (device.deviceType == "Miscellaneous") { %>
                        <div class="shadow-none card green lighten-4">
                            <div class="view overlay text-center">
                                <span class="fa-stack fa-6x ">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <a class="fas fa-chair fa-stack-1x icon" style="color:white" href="/home/devices/<%=device.deviceID%>"></a>
                                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><%= device.deviceDisplayName %></h4>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
                <div class="shadow-none card green lighten-4">
                    <div class="view overlay text-center">
                        <span class="fa-stack fa-6x ">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <a class="fas fa-plus fa-stack-1x icon" style="color:white" href="/home/devices/add-device"></a>
                        </span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Add device</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
        <script type="text/javascript" src="javascripts/chart.js"></script>
        <!-- javascript -->
        <!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
        <script type="text/javascript" src="js/Chart.min.js"></script>
        <!-- <script type="text/javascript" src="js/device.js"></script> -->
        <!-- <script type="text/php" src="deviceChart.php"></script> -->
        
        <script>
            var $ = require('jQuery');

            $(document).ready(function(){
            $.ajax({
                url: "http://localhost/SE/Ex%205%20-%20DevicesGraph2/data.php",
                method: "GET",
                success: function(data) {
                console.log(data);
                var device = [];
                var power = [];
                for(var i in data) {
                    device.push("Device " + data[i].rDeviceDisplayName);
                    power.push(data[i].rDevicePower);
                }
                var chartdata = {
                    labels: device,
                    datasets : [
                    {
                        label: 'DevicePower',
                        backgroundColor: 'rgba(200, 200, 200, 0.75)',
                        borderColor: 'rgba(200, 200, 200, 0.75)',
                        hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                        hoverBorderColor: 'rgba(200, 200, 200, 1)',
                        data: power
                    }
                    ]
                };
                var ctx = $("#mycanvas");

                var barGraph = new Chart(ctx, {
                    type: 'bar',
                    data: chartdata
                });
                },
                error: function(data) {
                console.log(data);
                }
            });
            });

            // google.charts.load('current', {'packages':['corechart']});
            // google.charts.setOnLoadCallback(drawChart);
          

            // function drawChart() {
            //     var data = google.visualization.arrayToDataTable([
            //         ['Device Name', 'Device Power'],


            //         // <?php
            //             // if($result->num_rows > 0){
            //             //     while($row = $result->fetch_assoc()){
            //             //         echo "['".$row['deviceDisplayName']."', ".$row['currentDevicePower']."],";
            //             //     }
            //             // }
            //         // ?>
            //     ]);
            //     var options = {
            //         title: 'Currently Running Devices',
            //         width: 900,
            //         height: 500,
            //     };
            //     var chart = new google.visualization.ColumnChart(document.getElementById('barChart'));    
            //     chart.draw(data, options);
            // }
        </script>
    </body>
</html>