<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/mdb.min.css">

	<title> Eco Spark - Energy Data </title>
</head>


<body onload="gData()">
	<%- include ('partials/header'); -%>

	<% if (!home) { %>
		<br>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="ecoSparkCard white">
					<div class="card green lighten-3">
						<div class="card-body">
							<h2 class="titles">
								<p class="h2 text-center">You have not created a home yet! </p>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<% if (home) { %>

	<div class="container">
		<p class="white-text">
			<!-- <% if (averagesHInfo == "") { %> 
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<div class="ecoSparkCard white">
						<div class="card green lighten-3">
							<div class="card-body">
								<p class="h2 text-center">No Current Average Details Available...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %> 
			<% if (averagesHInfo != "") { %> 
			<% averagesHInfo.forEach(function(aver) { %>
			<% if ((aver.averOverallPower) <= (aver.powerLimit)) {%>
			<blockquote class="blockquote bq-success"
				style="color:white; background-color: #add2af; font-weight: bold;">
				<h1 class="bq-title">Well Done! </h1>
				Your energy consumption for today is below your limit!
				<br>
				Average Energy Consumption: <%= aver.averOverallPower%>
				<br>
				Energy Limit Set: <%= aver.powerLimit%>
			</blockquote>
			<% } else { %>
			<blockquote class="blockquote bq-danger" style="color:white; background-color: #add2af; font-weight: bold;">
				<h1 class="bq-title">Oh Dear! </h1>
				Your energy consumption for today is above your limit!
				<br>
				Average Energy Consumption: <%= aver.averOverallPower%>
				<br>
				Energy Limit Set: <%= aver.powerLimit%>
			</blockquote>
			<% } %>
			<% }) %>
			<% } %> -->
		</p>
	</div>


	<div class="container-flex px-4">
		<div class="row">
			<div class="col-sm-8">
				<div class="card green lighten-3 py-3">
					<div class="card white mx-3">
						<div class="h3 pt-3" align="center">Current Energy Usage Across Rooms in <%= homeName%> </div> 
							<canvas id="mycanvas"></canvas>
					</div>
				</div>
			</div>
	
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm pb-3">
						<div class="ecoSparkCard white">
							<div class="card green lighten-3">
								<div class="card-body">
									<div class="container">
										<div class="row">
											<div class="col-sm-4">
												<i class="fas fa-long-arrow-alt-up fa-6x green-text pt-3"></i>
											</div>
											<div class="col-sm-8">
												<h4 align="center">	
													Total home generation: 	<br><br> <%= totalG*-1 %> kWh 
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm pb-3">
						<div class="ecoSparkCard white">
							<div class="card green lighten-3">
								<div class="card-body">
									<div class="container">
										<div class="row">
											<div class="col-sm-4">
												<i class="fas fa-long-arrow-alt-down fa-6x red-text pt-2"></i>
											</div>
											<div class="col-sm-8">
												<h4 align="center">	
													Total home usage:	<br><br> <%= totalU %> kWh </h3> 
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm pb-3">
						<div class="ecoSparkCard white">
							<div class="card green lighten-3">
								<div class="card-body">
									<h2 align="center">Overall home usage:  <br><br> <%= totalG + totalU %> kWh </h2> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/popper.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
	<script type="text/javascript" src="/javascripts/chart.min.js"></script>

	<script>
		function gData() {
			$.get("http://localhost:3000/graph/home", function (result, status) {
				var chartdata = {
					labels: result[0],
					datasets: [
						{
							label: 'Home Power',
							backgroundColor: '80cbc4',
							borderColor: 'rgba(200, 200, 200, 0.75)',
							hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
							hoverBorderColor: 'rgba(200, 200, 200, 1)',
							data: result[1]
						}
					]
				};
				var ctx = $("#mycanvas");

				var barGraph = new Chart(ctx, {
					type: 'bar',
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}],
					data: chartdata
				});
			});
		}

		let counter = 1;
		setInterval(() => {
			// document.querySelector('h1').innerText = counter;
			counter++;
			if (counter > 5) location.reload();
		}, 10000);

		/*
		n = new Date();
		y = n.getFullYear();
		m = n.getMonth() + 1;
		d = n.getDate();
		document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

		var ctxL = document.getElementById("lineChart").getContext('2d');
		var myLineChart = new Chart(ctxL, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
					"November", "December"],
				datasets: [{
					label: "My First dataset",
					data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
					backgroundColor: [
						'rgba(105, 0, 132, .2)',
					],
					borderColor: [
						'rgba(200, 99, 132, .7)',
					],
					borderWidth: 2
				},
				{
					label: "My Second dataset",
					data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
					backgroundColor: [
						'rgba(0, 137, 132, .2)',
					],
					borderColor: [
						'rgba(0, 10, 130, .7)',
					],
					borderWidth: 2
				}
				]
			},
			options: {
				responsive: true
			}
		});

		var ctxL = document.getElementById("lineChartA").getContext('2d');
		var myLineChart = new Chart(ctxL, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
					"November", "December"],
				datasets: [{
					label: "My First dataset",
					data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
					backgroundColor: [
						'rgba(105, 0, 132, .2)',
					],
					borderColor: [
						'rgba(200, 99, 132, .7)',
					],
					borderWidth: 2
				},
				{
					label: "My Second dataset",
					data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
					backgroundColor: [
						'rgba(0, 137, 132, .2)',
					],
					borderColor: [
						'rgba(0, 10, 130, .7)',
					],
					borderWidth: 2
				}
				]
			},
			options: {
				responsive: true
			}
		});

		var ctxL = document.getElementById("lineChartB").getContext('2d');
		var myLineChart = new Chart(ctxL, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
					"November", "December"],
				datasets: [{
					label: "My First dataset",
					data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
					backgroundColor: [
						'rgba(105, 0, 132, .2)',
					],
					borderColor: [
						'rgba(200, 99, 132, .7)',
					],
					borderWidth: 2
				},
				{
					label: "My Second dataset",
					data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
					backgroundColor: [
						'rgba(0, 137, 132, .2)',
					],
					borderColor: [
						'rgba(0, 10, 130, .7)',
					],
					borderWidth: 2
				}
				]
			},
			options: {
				responsive: true
			}
		});

		var ctxL = document.getElementById("lineChartC").getContext('2d');
		var myLineChart = new Chart(ctxL, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
					"November", "December"],
				datasets: [{
					label: "My First dataset",
					data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
					backgroundColor: [
						'rgba(105, 0, 132, .2)',
					],
					borderColor: [
						'rgba(200, 99, 132, .7)',
					],
					borderWidth: 2
				},
				{
					label: "My Second dataset",
					data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
					backgroundColor: [
						'rgba(0, 137, 132, .2)',
					],
					borderColor: [
						'rgba(0, 10, 130, .7)',
					],
					borderWidth: 2
				}
				]
			},
			options: {
				responsive: true
			}
		});

		var ctxL = document.getElementById("lineChartD").getContext('2d');
		var myLineChart = new Chart(ctxL, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
					"November", "December"],
				datasets: [{
					label: "My First dataset",
					data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
					backgroundColor: [
						'rgba(105, 0, 132, .2)',
					],
					borderColor: [
						'rgba(200, 99, 132, .7)',
					],
					borderWidth: 2
				},
				{
					label: "My Second dataset",
					data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
					backgroundColor: [
						'rgba(0, 137, 132, .2)',
					],
					borderColor: [
						'rgba(0, 10, 130, .7)',
					],
					borderWidth: 2
				}
				]
			},
			options: {
				responsive: true
			}
		});

		function dayAverage() {

			var x = document.getElementById("graphDayContainer");
			if (x.style.display === "none") {
				x.style.display = "block";
				window.scrollTo(0, document.body.scrollHeight);
			} else {
				x.style.display = "none";
			}
		}

		function weekAverage() {
			var x = document.getElementById("graphWeekContainer");
			if (x.style.display === "none") {
				x.style.display = "block";
				window.scrollTo(0, document.body.scrollHeight);
			} else {
				x.style.display = "none";
			}
		}

		function monthAverage() {
			var x = document.getElementById("graphMonthContainer");
			if (x.style.display === "none") {
				x.style.display = "block";
				window.scrollTo(0, document.body.scrollHeight);
			} else {
				x.style.display = "none";
			}
		}

		function yearAverage() {
			var x = document.getElementById("graphYearContainer");
			if (x.style.display === "none") {
				x.style.display = "block";
				window.scrollTo(0, document.body.scrollHeight);
			} else {
				x.style.display = "none";
			}
		} */
	</script>

	<% include ('partials/footer') -%>


</body>

</html>