<!DOCTYPE html >
<html>
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
          <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
                <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
                  <link rel="stylesheet" href="/stylesheets/mdb.min.css">

                  <style>#graphDayContainer {
                    width: 100%;
                    padding: 50px 0;
                    text-align: center;
                    background-color: whitesmoke;
                    margin-top: 20px;
                  }

                  #graphWeekContainer {
                    width: 100%;
                    padding: 50px 0;
                    text-align: center;
                    background-color: whitesmoke;
                    margin-top: 20px;
                  }

                  #graphMonthContainer {
                    width: 100%;
                    padding: 50px 0;
                    text-align: center;
                    background-color: whitesmoke;
                    margin-top: 20px;
                  }
                  
                  #graphYearContainer {
                    width: 100%;
                    padding: 50px 0;
                    text-align: center;
                    background-color: whitesmoke;
                    margin-top: 20px;
                  }</style>
                  
                  
                  
                  
                  </style>

                    <title> Eco Spark - Energy Data </title>
                  </head>
                  

  <body>
      <%- include ('partials/header'); -%>

      <div class="view">
          <img src="/scenery2.jpg" class="img-fluid" style="width: 70%; height: auto;">
          <div class="mask flex-center rgba-green-light">
            <p class="white-text">
              <% averagesHInfo.forEach(function(aver) { %>
                <% if ((aver.averOverallPower) <= (aver.powerLimit)) {%>
                  <blockquote class="blockquote bq-success" style="color:white; background-color: #add2af; font-weight: bold;">
                    <h1 class="bq-title">Well Done! </h1>
                    Your energy consumption for today is below your limit! </br>
                    Average Energy Consumption: <%= aver.averOverallPower%> </br>
                    Energy Limit Set: <%= aver.powerLimit%>
                  </blockquote>
                <% } else { %>
                  <blockquote class="blockquote bq-danger" style="color:white; background-color: #add2af; font-weight: bold;">
                    <h1 class="bq-title">Oh Dear! </h1>
                    Your energy consumption for today is above your limit! </br>
                    Average Energy Consumption: <%= aver.averOverallPower%> </br>
                    Energy Limit Set: <%= aver.powerLimit%>
                  </blockquote>
                <% } %>
              <% }) %>
            </p>
          </div>
        </div>

      </br>

      <p>
        <h2 class="titles"> Overview: </h2>
      </p>

      <div class="container" align=center">
        <canvas id="lineChart"></canvas>
      </div>

      </br>
      </br>

      <div class="container" align="center">
        <h2 class="titles"> What type of reports would you like to see? </h2>
        </br>
        <div class="col-md-12 mb-4">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn dusty-grass-gradient btn-rounded" onclick="dayAverage()">Day Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded" onclick="weekAverage()">Week Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded" onclick="monthAverage()">Month Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded" onclick="yearAverage()">Year Overview</button>
            </div>
          </div>
        </div>
      </div>

      <div id="graphDayContainer" style="display: none;">
        <div class="container" align=center">
          <h1> Graph for Days Energy Consumption </h1>
          <canvas id="lineChart"></canvas>
        </div>
      </div>

      <div id="graphWeekContainer" style="display: none;">
        <div class="container" align=center">
          <h1> Graph for Weeks Energy Consumption </h1>
          <canvas id="lineChart"></canvas>
        </div>
      </div>
      
      <div id="graphMonthContainer" style="display: none;">
        <div class="container" align=center">
          <h1> Graph for Month Energy Consumption </h1>
          <canvas id="lineChart"></canvas>
        </div>
      </div>

      <div id="graphYearContainer" style="display: none;">
        <div class="container" align=center">
          <h1> Graph for Year Energy Consumption </h1>
          <canvas id="lineChart"></canvas>
        </div>
      </div>

      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/popper.min.js"></script>
      <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
      <script>
      
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
        "November", "December"],
        datasets: [{
        label: "My First dataset",
        data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
        'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
        'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2
        },
        {
        label: "My Second dataset",
        data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
        backgroundColor: [
        'rgba(0, 137, 132, .2)',
        ],
        borderColor: [
        'rgba(0, 10, 130, .7)',
        ],
        borderWidth: 2
        }
        ]
        },
        options: {
        responsive: true
        }
        });

        function dayAverage() {
          var x = document.getElementById("graphDayContainer");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        } 

        function weekAverage() {
          var x = document.getElementById("graphWeekContainer");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        } 

        function monthAverage() {
          var x = document.getElementById("graphMonthContainer");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        } 

        function yearAverage() {
          var x = document.getElementById("graphYearContainer");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        } 
      </script>

      <% include ('partials/footer') -%>


  </body>
</html>