<!DOCTYPE html >
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/mdb.min.css">
        <link rel="stylesheet" href="/stylesheets/font.css">
        <title> Eco Spark - Home </title>
    </head>
	<body>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark green lighten-2">

            <a class="navbar-brand" href="/home" style="font-size: 210%; font-weight: bold;">
                <img src="/ecoSpark_Logo.png" alt="ecoSpark Logo" width="70" height="auto" class="d-inline-block align-middle"> EcoSpark
            </a>
            
            <a style="font-size: 150%; color: white; font-weight: bold;">
            Welcome back, <%= user %>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div style="font-weight: bold; font-size:120%; color: white;" class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="/home/my-account">My Account</a>
                        <a class="dropdown-item" href="/">Log out</a>
                    </div>
                    </li>
                </ul>
            </div>
        </nav>
        
    </br>
    
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <div class="shadow-none card green lighten-4" style="font-size: 20px;">
                    <div class="view overlay text-center">
                        <span class="fa-stack fa-6x ">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <a class="fas fa-home fa-stack-1x icon" style="color:white" href="/home/rooms"></a>
                        </span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Your Home</h4>
                    </div>
                </div>
                <div class="shadow-none card green lighten-4" style="font-size: 20px;">
                    <div class="view overlay text-center">
                        <span class="fa-stack fa-6x ">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <a class="fas fa-chart-area fa-stack-1x icon" style="color:white" href="/home/energy-data"></a>
                        </span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Energy Data</h4>
                    </div>
                </div>
                <div class="shadow-none card green lighten-4" style="font-size: 20px;">
                    <div class="view overlay text-center">
                        <span class="fa-stack fa-6x ">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <a class="fas fa-mobile-alt fa-stack-1x icon" style="color:white" href="/home/devices"></a>
                        </span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Devices</h4>
                    </div>
                </div>
                
                    <% userInfo.forEach(function(user) {%>
                    
                        <% if (user.isAdmin == 1) {%>
                            <div class="shadow-none card green lighten-4" style="font-size: 20px;">
                                <div class="view overlay text-center">
                                    <span class="fa-stack fa-6x ">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <a class="fas fa-cog fa-stack-1x icon" style="color:white" href="/home/settings"></a>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-center">System Settings</h4>
                                </div>
                            </div>
                           
                        <% } else {%>
                            <div class="shadow-none card green lighten-4" style="font-size: 20px;">
                                <div class="view overlay text-center">
                                    <span class="fa-stack fa-6x ">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <a class="fas fa-question fa-stack-1x icon" style="color:white" href="/home/settings/help"></a>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-center">Help</h4>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="slideshow-container">
                        <div class="mySlides">
                            <p class="tip"> Tip!</p>
                            <q>Switch off radiators in the rooms you’re not using and keep internal doors shut.
                                 Otherwise, draughts and poorly insulated windows will mean you’re burning excess energy</q>
                        </div>
                        <div class="mySlides">
                            <p class="tip"> Tip!</p>
                            <q>Try to get into the habit of turning lights off when you leave a room.
                                 A family could save between £50 and £90 a year just by remembering to flick a switch</q>
                        </div>
                        <div class="mySlides">
                            <p class="tip"> Tip!</p>
                            <q>Make sure your radiators aren’t blocked by curtains, furniture or clothes
                                  –  it’s good to make the best of the heat you’re paying for, and not let it go to waste</q>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>
                    </br>

                    <div class="card p-4 rounded">
                        <h4 class="card-title font-weight-bold" style="text-align: center;">Fault List</h4>
                            
                        <% if (faultInfo == ""){ %>
                            Currently no devices with faults  </br>
                        <% } %>

                        <%faultInfo.forEach(function(fault) {%>
                            <div class="systemAlert">
                                <div class="alert alert-warning" role="alert">
                                    Fault ID: <%= fault.faultID%></br>
                                    Device: <%= fault.deviceDisplayName%></br>
                                    Room: <%= fault.roomDisplayName%></br>
                                    Fault Info: <%= fault.faultInfo%></br>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="card weather-card">
                        <div class="card-body pb-3">
                            <h3 class="card-title font-weight-bold"><%= timezone %> </h3>
                            <p class="card-text"><%= summary %></p>
                            <div class="d-flex justify-content-between">
                                <p class="display-1 degree"><%= temperature %>°C</p>
                                <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <p><i class="fas fa-tint fa-lg text-info pr-2"></i><%= precipProbability %> % <%= precipType %></p>
                                <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i><%= windSpeed %> mph Winds</p>
                            </div>
                            <a class="text-muted" href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br></br>
        <br></br>

        <footer class="page-footer font-small navbar-dark green lighten-2">
            <div class="footer-copyright text-center py-3 navbar-dark green lighten-2">    
                <div class="col-md-12" style="color:white">
                    <h3>Site Settings:</h3>
                </div>
                </br>
                <main>
                    <div class="row">
                        <div class="container d-md-flex align-items-center">
                            <div class="col-sm">
                                <div class="change-font" style="color:white">
                                    <h3>Choose Text Size: 
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="change-font" style="color:white">
                                    <h3><u>Small</u></h3>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="change-font" style="color:white">
                                    <h2><u>Medium</u></h2>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="change-font" style="color:white">
                                    <h1><u>Large</u></h1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </br>
                   <div class="row">
                        <div class="container d-md-flex align-items-center">
                            <div class="col-sm">
                                <div class="change-font" style="color:white">
                                    <button class="btn btn-default" type="button">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </footer>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
        <script type="text/javascript" src="/javascripts/font.js"></script>


        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";  
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            }
        </script>

      
    </body>


</html>