<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/mdb.min.css">
  <title> Eco Spark - User </title>
</head>

<body>

  <%- include ('partials/header') -%>

  <div class="container">
    <% userInfo.forEach(function(user) {%>
      <div class="row">
        <div class="col-sm">
          <div class="ecoSparkCard white p-2">
            <div class="ecoSparkCard teal lighten-3">
              <div class="container">
                <div class="row justify-content-center pt-2">
                  <h3>Account Details For: <%=user.displayName%></h3>
                </div>
                <div class="row justify-content-center">
                  <small class="form-text text-muted">These details can be changed to suit the user.</small>
                </div>
                <div class="row justify-content-center">
                  <small class="form-text text-muted">Make sure to inform the user of any changes to their account.</small>
                </div>
              </div>
      
              <br>

              <h5>Username:</h5>
              <form action="<%=user.username%>/updateUsername" method="post">
                <input type="text" id="username" class="form-control rounded" name="username"
                  placeholder="<%= user.username%>" onChange="this.for.submit">
                <small class="form-text text-muted">User's username used for loggin in. Press enter after typing to change</small>
              </form>
      
              <h5>Display Name:</h5>
              <form action="<%=user.username%>/updateDisplayName" method="post">
                <input type="text" id="displayName" class="form-control rounded" name="displayName"
                  placeholder="<%= user.displayName%>" onChange="this.for.submit">
                <small class="form-text text-muted">User's display name. Press enter after typing to change</small>
              </form>
      
              <h5>Password:</h5>
              <form action="<%=user.username%>/updateUserPW" method="post">
                <input type="text" class="form-control rounded" placeholder="<%= user.password %>" id="password"
                  name="password" onChange="this.for.submit">
                <small class="form-text text-muted">User's password. Press enter after typing to change</small>
              </form>
      
              <!-- allows admins to change access level of non admins -->
              <form action="<%=user.username%>/updateUserAdmin" method="POST">
                <h5>Admin:</h5>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="isAdmin" onChange="this.form.submit()"
                    <% if (user.isAdmin == "Yes") { %> <%= 'checked' %> <% } %>>
                  <label class="custom-control-label" for="isAdmin">
                    <% if (user.isAdmin == "Yes") { %>
                      <input type="text" class="form-control rounded disabled" placeholder="Yes">
                      <% } else { %>
                      <input type="text" class="form-control rounded disabled" placeholder="No">
                    <% } %>
                  </label>
                  <small class="form-text text-muted">User's admin privileges. <br> You can not remove yourself from a home or delete your account if you are the only admin</small>
                </div>
              </form>
            <br>
              <div class="row">
                <div class="col-sm-6">
                  <form action="<%=user.username%>/removeFromHome" method="post">
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-default w-100" type="submit" id="delete">Remove from home</button>
                    </div>
                  </form>
                </div>
                <div class="col-sm-6">
                  <form action="<%=user.username%>/deleteUser" method="post">
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-default w-100" type="submit" id="delete">Delete Account</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
    <% }) %>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mdb.min.js"></script>

</body>

</html>