<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/mdb.min.css">
  <link rel="stylesheet" href="/stylesheets/style (2).css">
  <title> Eco Spark - Room </title>
</head>

<body onload="gData()">

  <%- include ('partials/header') -%>


  <div style="height: 100">
    <div class="flex-column" align="center">
      <h1>
        Overview of
        <%roomInfo.forEach(function(room) {%>
        <%=room.roomDisplayName%>'s Energy Usage
        <% }) %>
      </h1>
      <%roomInfo.forEach(function(room) {%>
      
        <div class="h5 text-center">
        
          Room ID:<%=room.roomID%> <br>   <i class="fas fa-thermometer-half"></i> Current Room Temp <%=room.temperature%>°C &nbsp;
        </br>
        <%averagesRInfo.forEach(function(aver) {%>
          <i class="fas fa-lightbulb"></i> Current Room Energy Usage <%=aver.averRoomPower%> KW
          <% }) %>
          <i class="fas fa-lightbulb"></i> Current Room Energy Usage <%=roomTotal%> KW
            <br>
        <% }) %>
        </div>
       
        
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card green lighten-3 py-4">
              <div class="card white mx-4">
                <h3 align="center"">Current Running Devices</h3> 
                <canvas id="mycanvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <% if (isDevice) { %>

  <div class="container" align="center">
    <div class="ecoSparkCard white">
      <div class="card green lighten-3">
        <h1 class="h3 pt-3">
          Devices in Room
        </h1>
        </br>
        <ul class="list-group">
          <div class="row">
            <div class="col-sm" align="center">
              <h2 style="font-size:20px">DEVICE NAME</h2>
            </div>
            <div class="col-sm" align="center">
              <h2 style="font-size:20px">POWER OUTAGE </h2>
            </div>
          </div>
    
          <% deviceInfo.forEach(function(device) {%>
          <% if (device.devicePower <= 10000) {%>
          <li class="list-group-item list-group-item-success">
            <div class="row">
              <div class="col-sm" align="center">
                <h2><%= device.deviceDisplayName %> :</h2>
              </div>
              <div class="col-sm" align="center">
                <h2><%= device.devicePower %></h2>
              </div>
            </div>
          </li>
          <% } %>
    
          <% if (device.devicePower > 10000) {%>
          <li class="list-group-item list-group-item-warning">
            <div class="row">
              <div class="col-sm" align="center">
                <h2><%= device.deviceDisplayName %> :</h2>
              </div>
              <div class="col-sm" align="center">
                <h2><%= device.devicePower %></h2>
              </div>
            </div>
          </li>
          <% } %>
          <% }) %>
        </ul>
      </div>
      <% } %>
      </div>
    </div>

    
  <br></br>

  <div class="flex-column" align="center">
    <h1 class="titles">
      Room Control
    </h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 pb-3">
        <div class="ecoSparkCard white">
          <div class="card teal lighten-3">
            <div class="card-body">
              <%roomInfo.forEach(function(room) {%>
              <form action="<%=room.roomID%>/updateHeating" method="post">
                <p class="h4 text-center py-4">Heating</p>
                <div class="md-form">
                  <i class="fas fa-fire-alt prefix"></i>
                  <label> Use Slider to Select Room Temperature</label>
                  <input type="range" class="custom-range mt-5 ml-3" name="heating" id="heating" min="10" max="30"
                    value="<%= room.temperature %>" onChange="this.form.submit()">
                  <p>Temperature: <span id="temp"></span>°C</p>
                </div>
              </form>
              <% }) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 pb-3">
        <div class="ecoSparkCard white p-2">
          <div class="card teal lighten-3">
            <div class="card-body">
              <p class="h4 text-center py-4">Devices</p>
              <% if (!isDevice) { %>
              <p class="h5 text-center py-4">There are no devices in this room.</p>
              <% } %>
              <%roomInfo.forEach(function(room) {%>
              <%deviceInfo.forEach(function(device) {%>
              <div class="row d-flex justify-content-center">
                <form action="<%=room.roomID%>/update<%=device.deviceID%>" method="post">
                  <h5> <%= device.deviceDisplayName %> </h5>
                  <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                      id="<%=device.deviceID%>" onChange="this.form.submit()"
                      <% runningDevices.forEach(function(runningD) {%>
                      <% if (runningD.deviceID == device.deviceID) { %> <%= 'checked' %> <% } %>
                      <% }) %>>
                    <label class="onoffswitch-label" for="<%=device.deviceID%>">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </form>
              </div>
              <% }) %>
              <% }) %>
            </div>
          </div>
        </div>      
      </div>      
    </div>
  </div>
  <br></br>
  <div class="flex-column" align="center">
    <h1 class="titles">
      Room Options
    </h1>
  </div>
  <br>
  <div class="container">
    <div class="text-center">
      <a href="" class="btn  teal lighten-3 mb-4" data-toggle="modal" data-target="#modalLoginForm">
        <i class="fas fa-edit"></i> Edit Room</a>
    </div>
  </div>
  <div class="edit">
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%roomInfo.forEach(function(room) {%>
          <form action="<%=room.roomID%>/updateRoomName" method="post">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Edit Room</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-edit prefix grey-text"></i>
                <input type="text" id="roomName" name="roomName" class="form-control">
                <label>New Room Name</label>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn  teal lighten-3" type="submit">Update</button>
            </div>
          </form>
          <% }) %>
        </div>
      </div>
    </div>
    <!-- <div class="text-center">
      <a href="" class="btn  teal lighten-3 mb-4" data-toggle="modal" data-target="#modalLoginForm">
        <i class="fas fa-edit"></i> Edit Room</a>
    </div> -->
  </div>


  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/popper.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/chart.js"></script>


  <script>
    //Refresh
    let counter = 1;
    setInterval(() => {
      // document.querySelector('h1').innerText = counter;
      counter++;
      if (counter > 5) location.reload();
    }, 10000);

  </script>

  <script>
    var slider = document.getElementById("heating");
    var output = document.getElementById("temp");
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    }
  </script>

  <script>
    // code to draw graph

    function gData() {

      $.get("http://localhost:3000/graph/room", function (result, status) {
        var chartdata = {
          labels: result[0],
          datasets: [
            {
              label: 'Device Power',
              backgroundColor: '80cbc4',
              borderColor: 'rgba(200, 200, 200, 0.75)',
              hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
              hoverBorderColor: 'rgba(200, 200, 200, 1)',
              data: result[1]
            }
          ]
        };
        var ctx = $("#mycanvas");

        var barGraph = new Chart(ctx, {
          type: 'bar',
          data: chartdata
        });
      });
    }
  </script>




</body>

</html>